<div class="schedule-interview-modal">

    <h1 class="text-center">Schedule an Interview</h1>
    <form class="sign_in_form" [formGroup]="interviewForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-3">
                <mat-label>Title:</mat-label>
            </div>
            <div class="col-md-9">
                <mat-form-field class="example-full-width" appearance="fill">
                    <input type="text" formControlName="title" matInput placeholder="Round 0 interview with Manish">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-label>Start Time:</mat-label>
            </div>
            <div class="col-md-9">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-select formControlName="start_time">
                        <mat-option value="">All</mat-option>
                        <mat-option value="00:00">12.00 AM</mat-option>
                        <mat-option value="00:30">12.30 AM</mat-option>
                        <mat-option value="01:00">01.00 AM</mat-option>
                        <mat-option value="01:30">01.30 AM</mat-option>
                        <mat-option value="02:00">02.00 AM</mat-option>
                        <mat-option value="02:30">02.30 AM</mat-option>
                        <mat-option value="03:00">03.00 AM</mat-option>
                        <mat-option value="03:30">03.30 AM</mat-option>
                        <mat-option value="04:00">04.00 AM</mat-option>
                        <mat-option value="04:30">04.30 AM</mat-option>
                        <mat-option value="05:00">05.00 AM</mat-option>
                        <mat-option value="05:30">05.30 AM</mat-option>
                        <mat-option value="06:00">06.00 AM</mat-option>
                        <mat-option value="06:30">06.30 AM</mat-option>
                        <mat-option value="07:00">07.00 AM</mat-option>
                        <mat-option value="07:30">07.30 AM</mat-option>
                        <mat-option value="08:00">08.00 AM</mat-option>
                        <mat-option value="08:30">08.30 AM</mat-option>
                        <mat-option value="09:00">09.00 AM</mat-option>
                        <mat-option value="09:30">09.30 AM</mat-option>
                        <mat-option value="10:00">10.00 AM</mat-option>
                        <mat-option value="10:30">10.30 AM</mat-option>
                        <mat-option value="11:00">11.00 AM</mat-option>
                        <mat-option value="11:30">11.30 AM</mat-option>
                        <mat-option value="12:00">12.00 PM</mat-option>
                        <mat-option value="12:30">12.30 PM</mat-option>
                        <mat-option value="13:00">01.00 PM</mat-option>
                        <mat-option value="13:30">01.30 PM</mat-option>
                        <mat-option value="14:00">02.00 PM</mat-option>
                        <mat-option value="14:30">02.30 PM</mat-option>
                        <mat-option value="15:00">03.00 PM</mat-option>
                        <mat-option value="15:30">03.30 PM</mat-option>
                        <mat-option value="16:00">04.00 PM</mat-option>
                        <mat-option value="16:30">04.30 PM</mat-option>
                        <mat-option value="17:00">05.00 PM</mat-option>
                        <mat-option value="17:30">05.30 PM</mat-option>
                        <mat-option value="18:00">06.00 PM</mat-option>
                        <mat-option value="18:30">06.30 PM</mat-option>
                        <mat-option value="19:00">07.00 PM</mat-option>
                        <mat-option value="19:30">07.30 PM</mat-option>
                        <mat-option value="20:00">08.00 PM</mat-option>
                        <mat-option value="20:30">08.30 PM</mat-option>
                        <mat-option value="21:00">09.00 PM</mat-option>
                        <mat-option value="21:30">09.30 PM</mat-option>
                        <mat-option value="22:00">10.00 PM</mat-option>
                        <mat-option value="22:30">10.30 PM</mat-option>
                        <mat-option value="23:00">11.00 PM</mat-option>
                        <mat-option value="23:30">11.30 PM</mat-option>
                    </mat-select>
                    <!-- <input type="time" formControlName="start_time" matInput placeholder="Start"> -->
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-label>Interview Date:</mat-label>
            </div>
            <div class="col-md-9">
                <mat-form-field appearance="fill" class="example-form-field">
                    <!-- <mat-label>Choose a date</mat-label> -->
                    <input matInput [matDatepicker]="datepicker">
                    <mat-datepicker-toggle matSuffix [for]="datepicker" [color]="'warn'"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button matDatepickerApply>Choose</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
                <!-- <mat-form-field class="example-full-width" appearance="fill">
                    <input type="date" formControlName="interview_date" matInput placeholder="Duration">
                </mat-form-field> -->
            </div>
            <div class="col-md-8">
                <mat-checkbox class="example-margin">Send invite to myself</mat-checkbox>
            </div>
            <!-- <div class="col-md-9">
            <mat-label for="invite"></mat-label>
        </div> -->
            <div class="col-md-12 text-right">
                <div class="btn">
                    <button id="close-modal" color="white" mat-button mat-dialog-close class="btn-cancel mr-2">Cancel</button>
                    <button mat-flat-button type="submit" class="btn-save btn-su btn btn-success">Schedule</button>
                </div>
            </div>
        </div>
    </form>
</div>