.schedule-interview-modal{
    h1{
        font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #212121;
    }
    mat-label{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        text-align: right;

        color: #212121;
    }
mat-form-field {

    width: 100%;
}
.btn-save{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;

}
}