.hader{

    margin-top: 150px;
h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #212121;

    span{
        color: #29B67F;    
    text-transform: uppercase;
    }
   
}
p{
    font-size: 30px;
      color: #828282;
      line-height: 50px;
}
h2{
    font-size: 40px;
    text-align: center;
 span{
    color: #29B67F;
 }
}
.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto;
    letter-spacing: 1.5px;
    width: 100%;
}
mat-label{
    color: #828282;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;


}
input.mat-input-element {
    margin-top: -0.0625em;
    margin-bottom: 10px;
}

.have-account{
text-align: center;
    font-size: 20px;
    padding-top: 25px;
color:#828282;
    a{

        color: #29B67F;
    }
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 36px;
    border-radius: 4px;
}

}
button.btn-success {
    background: linear-gradient(
        93.58deg
        , #3FC7F4 0%, #29B67F 100%);
            width: 150px;
            height: 40px;
            color: #fff !important;
            font-size: 16px;
}
.aboutus{
    margin-top: 100px;
    h1{

        color: #172233;
      font-size: 30px;
        font-weight: 700;
             line-height: 52px;
             
    


    }
    p{
        font-size: 30px;
        color: #828282;
        line-height: 40px;
        padding-bottom: 30px;
      
    }
ul li{

 width: 50%;
    list-style: none;
    display: inline-block;
  
}
.boder-right{
    border-right: 2px solid #E8E8E8;
    border-bottom: 2px solid #E8E8E8;
 
}

.boder-bottom{
    border-bottom: 2px solid #E8E8E8;

}
.boder-bottom{


    img{
        padding-top: 10px;
    }
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
    padding-left: 0px !important;
    text-align: right;
    margin-left: auto;
    display: block;

}
ul{
    padding: 0;
    margin: 0;
}
}

.banner-one{

    background: linear-gradient(
93.58deg
, #3FC7F4 0%, #29B67F 100%);

h1{

    font-size:48px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    
    line-height: 60px;

}

p{
text-align: center;
    font-size: 36px;
    color: #fff;
}
}

.banner-two{
    background-image: url(".../../../../assets/images/bannerthree.png"); /* The image used */
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 135px 0px;
    background-position: center
    
    ;

    h1{

        font-size: 50px;
        font-weight: 700;
        text-align:left;
    color: #29B67F;
      
        
        line-height: 60px;
        span{
            color: #fff;
        }
    
    }
    
    p{
    text-align: left;
        font-size: 36px;
        color: #fff;
        font-weight: 300;
        line-height: 42px;
    }

}
.banner-three{
    background-image: url(".../../../../assets/images/bannertwo.png"); /* The image used */
    width: 100%;
    margin-top: 50px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 135px 0px;
    background-position: bottom
    
    ;

    h1{

        font-size:50px;
        font-weight: 700;
        text-align:left;
    color: #ffffff;
      
        
        line-height: 60px;
        span{
            color: #39B7FD;
        }
    
    }
    
    p{
    text-align: left;
    font-size: 30px;
        color: #fff;
        font-weight: 300;
        line-height: 42px;
    }

}

.qualified{
    padding: 150px 0px;
    text-align:  center;
  h1{  text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    span{
        color: #29B67F;      
    }
  }
    p{
        font-size: 30px;
        line-height:2;
        color: #828282;

        span{
            color: #29B67F;      
        }
    }
  }
.footer{
    background-color: #F6F6F6;
    padding: 15px 0px;

    p{

        color: #757575;
        font-size: 18px;
        padding-left: 20px;
        line-height: 30px;
    }

    ul{

        padding: 0;
        margin: 0;
    }
    ul li {

        display: inline-block;
       
        padding-right: 20px;
        text-align: center;
    }
    ul li a{
        font-size: 18px;
        color: #757575;
    }
}

@media screen and (min-width: 700px) and (max-width: 768px) {

    .hader{

       
    h1{
        
    
      br{
          display: none;
      }
       
    }
   

 }

 .aboutus  {


 h1 {
        color: #172233;
        font-size: 32px;
        font-weight: 700;
        line-height: 52px;
       
    }

    .text-right{

        br{

            display: none;
        }}

        p{

            br{
    
                display: none;
            }
    }
}

.banner-one{

    img{
        margin: 0 auto;
           display: block;
    }

}

.qualified {
    h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    line-height: 45px;
}

p{

    br{
        display: none;
    }
}
}
.banner-two{
    img{
        margin: 0 auto;
           display: block;
    }
}

.footer{

    .text{
        text-align: center;
    }
}

}

@media only screen and (max-device-width: 480px) {


    button.btn-cancel {
        background: #C4C4C4;
        width: 100px;
    }

    button.btn-success {
        background: linear-gradient(
    93.58deg
    , #3FC7F4 0%, #29B67F 100%);
        width: 100px;
        color: #fff;
    }

    .hader h2 {
        font-size: 40px;
        text-align: center;
        line-height: 50px;
    }
    .aboutus ul li {
        width: 100%;
        list-style: none;
        display: inline-block;
    }

    .banner-one h1 {
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        line-height: 60px;
    }
    .qualified  h1 {
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
    }

    .banner-one p {
        text-align: center;
        font-size: 36px;
        line-height: 40px;
        color: #fff;
    }

    .banner-three h1 {
        font-size: 54px;
        font-weight: 700;
        text-align: left;
        color: #ffffff;
        line-height: 60px;
    }
    .footer{

        .text{
            text-align: center;
        }
    }

    .aboutus h1{
        color: #172233;
        font-size: 40px;
        font-weight: 700;
        line-height: 52px;
        
    }

    .aboutus{
         .text-right {
        text-align: right;
        padding-left: 0px !important;
        text-align: right;
        margin-left: auto;
        display: block;
    
        br{
            display: none;
        }
    }}
}


