<!-----
<div class="nav-cont">
  <mat-toolbar class="navbar">
    <button mat-button class="app-name" [routerLink]="'/'">
      <img height="100%" src="assets/images/l4o_icon.png" style="    width: 70%;"/>
    </button>

    <span class="example-spacer"></span>-->
    <!-- <button class="nav-button" mat-flat-button (click)="openDialog()">
      <span class="nav-button-text">Courses</span>
    </button> -->
   <!--- <button class="nav-button" mat-flat-button [routerLink]='/about'>
      <span class="nav-button-text">Why Us</span>
    </button>
    <button class="nav-button" mat-flat-button [routerLink]="/contact">
      <span class="nav-button-text">About</span>
    </button>
    <button class="nav-button btn-success" mat-flat-button [routerLink]='/learner/sign-up'>
      <span class="nav-button-text">Register Now</span>
    </button>-->
    <!-- <button class="nav-button" mat-flat-button [routerLink]='/learner/sign-in'>
      <span class="nav-button-text">Sign In</span>
    </button> -->
    <!-- <button class="nav-button" mat-flat-button (click)="openDialog()">
      <span class="nav-button-text">Join Waitlist</span>
    </button> -->
    <!-- <button class="icon-button" mat-flat-button [routerLink]="/cart" *ngIf="isAuthenticated">
      <mat-icon>shopping_cart</mat-icon>
    </button> -->
    <!-- <button class="icon-button" mat-flat-button>
      <span class="img-cont" fxLayout="column" fxLayoutAlign="center center">
        <span class="img-alt">userNameInitial</span>
      </span>
    </button>
    <button mat-icon-button class="icon-button nav-button-icon" aria-label="Example icon-button with heart icon"
      [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button> 
  </mat-toolbar>

  <mat-menu #menu="matMenu" class="example-container" mode="over">
    <button [routerLink]='/about' mat-menu-item>
      <span class="nav-button-text">About Us</span>
    </button>
    <button [routerLink]="/contact" mat-menu-item>
      <span class="nav-button-text">Contact</span>
    </button>
    <button mat-menu-item [routerLink]='/learner/sign-up'>
      <span class="nav-button-text">Sign Up</span>
    </button>
    <button mat-menu-item [routerLink]='/learner/sign-in'>
      <span class="nav-button-text">Sign In</span>
    </button>-->
    <!-- <button
          (click)="openDialog()"
          mat-menu-item
        >
          <span class="nav-button-text">Join Waitlist</span>
        </button>
  </mat-menu> -->


  <!-- <mat-menu 
      #profileMenu="matMenu"
      class="example-container"
      mode="over"
    >
        <button
          [routerLink]='/user-profile/my-learning'
          mat-menu-item
        >
          <span class="nav-button-text">My learning</span>
        </button>
        <button
          [routerLink]="/user-profile/user-info"
          mat-menu-item
        >
          <span class="nav-button-text">Profile</span>
        </button>
        <button
          mat-menu-item
        >
          <span class="nav-button-text">Log Out</span>
        </button>
    </mat-menu> 
</div>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a  [routerLink]="'/'">
    <img height="100%" src="assets/images/l4o_icon.png" style="    width: 70%;"/>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-auto align-items-center" *ngIf="cds.isLoggedIn()">
      <button class="nav-button" routerLinkActive="text-success" mat-flat-button  [routerLink]="'/jobs/dashboard/jobs'">
        <span class="nav-button-text">Jobs</span>
      </button>
      <button class="nav-button" routerLinkActive="text-success" mat-flat-button [routerLink]="'/jobs/dashboard/candidates'">
        <span class="nav-button-text">Candidate</span>
      </button>
      <button class="nav-button" routerLinkActive="text-success" mat-flat-button [routerLink]="'/jobs/dashboard/search'">
        <span class="nav-button-text">Search</span>
      </button>
    </ul>
    <ul class="navbar-nav ml-auto align-items-center">
      <button *ngIf="!cds.isLoggedIn()" class="nav-button" mat-flat-button [routerLink]="'/about'">
        <span class="nav-button-text">Why Us</span>
      </button>
      <button *ngIf="!cds.isLoggedIn()" class="nav-button" mat-flat-button [routerLink]="'/contact'">
        <span class="nav-button-text">About</span>
      </button>
      <button *ngIf="cds.isLoggedIn()" class="nav-button" mat-flat-button>
        <span class="nav-button-text">{{httpService.userInfo?.name}}</span>
      </button>
      <button *ngIf="!cds.isLoggedIn()" class="nav-button btn-success" mat-flat-button [routerLink]='["/sign-up"]'>
        <span class="nav-button-text">Register Now</span>
      </button>
      <button *ngIf="cds.isLoggedIn()" class="nav-button" mat-flat-button [matMenuTriggerFor]="menu"><img src="assets/icons/user.png" alt=""></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/jobs/dashboard'">Dashboard</button>
        <button mat-menu-item [routerLink]="'/account/update-profile'">Update Profile</button>
        <button mat-menu-item [routerLink]="'/account/change-password'">Change Password</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
      <button *ngIf="cds.isLoggedIn()" class="nav-button" mat-flat-button>
        <span class="nav-button-text"><img src="assets/icons/bell.png" alt=""></span>
      </button>
    </ul>
  
  </div>
</nav>