<app-header></app-header>
<div class="container header-top-spacing">
    <div class="row  justify-content-center">
        <div class="signin_section col-12">
            <h4 class="main_title"><span>{{slug?'Update':'Create'}} a Job</span></h4>
            <form class="sign_in_form" [formGroup]="signupForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="col-12">
                    <mat-form-field appearance="outline" class="su-input">
                        <mat-label>Job Title*</mat-label>
                        <input formControlName="title" matInput>
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline" class="su-input">
                        <mat-label>Job Category*</mat-label>
                        <mat-select formControlName="job_category_id">
                            <mat-option>Select Categroy</mat-option>
                            <mat-option *ngFor="let item of jobCategoriesList;let i=index;" [value]="item?._id">
                                {{item?.category_name}}</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <mat-form-field appearance="outline" class="su-input">
                      <mat-label>Select Sector*</mat-label>
                      <mat-select formControlName="sector_id">
                        <mat-option [value]="sector?.id" *ngFor="let sector of sectoresList;">{{sector?.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="su-input">
                        <mat-label>Description*</mat-label>
                        <textarea formControlName="description" rows="5" matInput></textarea>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="su-input">
                        <mat-label> Location*</mat-label>
                        <textarea formControlName="address" rows="5" matInput></textarea>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="su-input">
                        <mat-label> Salary (in INR)*</mat-label>
                        <input formControlName="salary" type="number" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="su-input">
                        <mat-label>Fulltime/Internship*</mat-label>
                        <mat-select formControlName="type">
                            <mat-option disabled>Select Job Type</mat-option>
                            <mat-option value="fulltime">Full Time</mat-option>
                            <mat-option value="parttime">Part Time</mat-option>
                            <mat-option value="freelance">Freelance</mat-option>
                            <mat-option value="internship">Internship</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline" class="su-input">
                        <mat-label>Choose a date*</mat-label>
                        <input formControlName="valid_till" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field> -->
                    <div class="su-button-cont">
                        <div class="btn mt-2">
                            <span>Upload job Description</span>
                            <input mat-flat-button type="file" name="file" id="file" (change)=handleReaderLoaded($event) class="btn-cancel ml-4 d-none">
                            <label for="file" class="btn btn-light ml-2">Upload a file</label> 
                        </div>
                        <img *ngIf="uploadedImagesData" [src]="httpService.serviceimg+uploadedImagesData" width="100px" alt="">
                        <!-- <div class="errorMsg" *ngIf="isError">{{this.isError}}</div> -->
                    </div>
                </div>
                <div class="su-button-cont">

                    <div class="btn mt-2">
                        <button mat-flat-button type="button" class="btn-cancel mr-3"
                            [routerLink]="['/jobs']">Cancel</button>
                        <button [disabled]="signupForm.invalid" mat-flat-button type="submit" class="btn-success right_align">Submit</button>
                    </div>
                    <div class="my-2 px-3" *ngIf="slug">
                        <button type="button" class="btn btn-danger btn-block" (click)="deleteJob()">Delete</button>
                    </div>

                    <!-- <div class="errorMsg" *ngIf="isError">{{this.isError}}</div> -->
                </div>
            </form>
        </div>

    </div>
</div>