
<app-header></app-header>
<div class="container header-top-spacing">
<div class="row  justify-content-center">
    <div class="signin_section col-12">


     
        <h4 class="main_title"><span>Forgot Password
        </span></h4>
        <p class="signin_subtitle">Create your new password after submmiting</p>
        <form class="sign_in_form" [formGroup]="forgotForm" (ngSubmit)="submitforgot()">
            <div class="col-12">
                <mat-form-field appearance="outline" class="su-input">
                    <mat-label>Phone No/Email</mat-label>
                    <input formControlName="email" matInput type="text">
                </mat-form-field>
            </div>
            <div class="su-button-cont">
                <div class="btn">
                    <button mat-flat-button href="javascript:void(0)" [routerLink]="'/sign-in'" type="button" class="btn-cancel mr-3">Cancel</button>
                    <button mat-flat-button [disabled]="forgotForm.invalid" type="submit" class="btn-success right_align">Submit</button>
                </div>
             
                <!-- <div class="errorMsg" *ngIf="isError">{{this.isError}}</div> -->
            </div>
        </form>
    </div>

</div>
</div>