.mail-image{text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 40px !important;
    }
    h1{
        font-size: 24px;
        font-weight: 500;
        color:#4F4F4F;
        text-align: center;
        padding-top: 30px;
    }
    
    .new-password{
        width: 80%;
        background-color: #29b6802c;
        margin: 0 auto;
        display: block;
        padding: 10px 0px;
        margin-bottom: 30px;
       
    }
    p{
    
        text-align: center;
       color: #29B67F;
        font-size: 18px;
        line-height: 25px;
    }
    button.btn-mail {
        background: linear-gradient(
    93.58deg
    , #3FC7F4 0%, #29B67F 100%);
        width: 75% !important;
        color: #fff;
        margin: 0 auto;
        display: block;
    
        
    }
    
    mat-card{
    
        margin-top: 50px;
        padding-bottom: 60px;
    
        button{
    margin-top: 30px;
                }
    }











      .sign_in_form{
        display: block;
        margin: 0 auto;
        width: 404px;
       
      }
      .sign_in_form .su-input{
        width: 100%;
      }
      