
<app-header></app-header>
<div class="container" >
    <div class="row  justify-content-center">
<div class="col-lg-6 ">
<mat-card >
    


    <h1>New Password</h1>
  <div class="new-password">
    <p>Please create a new password that <br>
        you don’t us an any other site.</p>
    </div>
    <form class="sign_in_form">
        
            
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>create new password</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>      Re-enter new password</mat-label>
                <input matInput type="text">
            </mat-form-field>
      
            </form>
        <button class="nav-button btn-mail" mat-flat-button>
            <span class="nav-button-text">Reset Password</span>
          </button>
    </mat-card>
</div>
</div>

</div>


