.nav-cont {
  height: 98px;
}
*:focus {
  outline: none;
}
.navbar {
  background-color: #f8f8f8;
  // position: absolute
  width: 100%;
  padding-right: 5%;
  padding-left: 8%;
  height: 100px;
  position: fixed;
  top: 0;
  //position: sticky
  // top: 0 /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  // z-index: 100
  // -webkit-box-shadow: 0px 6px 10px -5px rgba(50, 50, 50, 0.35);
  // -moz-box-shadow:    0px 6px 10px -5px rgba(50, 50, 50, 0.35)
  // box-shadow:         0px 6px 10px -5px rgba(50, 50, 50, 0.35);
}

.sign_in_form .su-input {
  /* width: 404px; */
  width: 100% !important;
}
.su-button-cont {
  text-align: center !important;
}
.example-spacer {
  flex: 1 1 auto;
}

//   .app-name{
//     @include media($mobile...){
//       margin-left: -10vw;
//       height: 60%;
//   }}


.mat-stroked-button,
.mat-flat-button {
  color: #fff;
}
.mat-icon-button,.mat-button{
  color: #29B67F ;
}

.mat-button-disabled {
  color: rgba(255, 255, 255, 0.7) !important;
}
.nav-button {
  background: #f8f8f8;
  height: 50px;
  font-size: 24px;
  margin: 0 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  color: #4f4f4f;
  transition: all 0.7s;
  display: inline-block;
  @media (max-width: 600px) {
    display: none;
  }
}
.nav-button-icon {
  @media (min-width: 960px) {
    display: none;
  }
}

.icon-button {
  background: #ffffff;
  height: 50px;
  font-size: 24px;
  width: 5%;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 8px;
  color: #4f4f4f;
}
.nav-button-imp {
  background: linear-gradient(273.83deg, #29b67f -13.72%, #3fc7f4 96.02%);
  box-shadow: inset -1px 4px 3px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.nav-button-sidebar {
  font-size: 24px;
  padding-left: 0px;
  padding-right: 0px;
  color: #4f4f4f;
  transition: all 0.7s;
  padding: 20px 0 20px 0;
}
.example-container {
  width: 30%;
}
.img-cont {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #29b67f;
  margin: auto;
}

.img-alt {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

button.btn-success {
  background: linear-gradient(93.58deg, #3fc7f4 0%, #29b67f 100%);
  width: 180px;
  color: #fff;
}
button.btn-cancel {
  background: #c4c4c4;
  width: 180px;
  color: #fff;
}
.right_align {
  float: right;
  display: block;
}
.switch-link {
  color: #0077b5;
  margin-left: 10px;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0 10% !important;
}
.header-top-spacing {
  margin-top: 150px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
