.profile-hading{
    // margin-top: 100px;
    h1{
        font-size: 36px;
        padding-top: 20px;
        font-weight: 500;
    }

}
.status-label{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
margin-top: 15px;
    display: inline-block;
color: #828282;
}
    .mat-form-field-appearance-legacy .mat-form-field-underline{
        display: none;
    }
    button.btn-su {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        
        color: #FFFFFF;
    }
.status-select{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
padding: 10px;
color: #828282;
background: #EBEBEB;
}
.profile{
    margin-bottom: 34px;
    .backend { 
        position: relative;
        .title{
            position: absolute;
    top: calc(45% - 70px);
    left: -60px;
    right: 0;
    z-index: 999;
    transform: rotate(
-15deg
);
    font-size: 20px;
    text-align: center;
    min-width: 145%;
    color: #fff;
    font-weight: bold;
        }
        img{
            position: relative;
            top: -70px;
            left: -70px;
            margin: 0 auto;
            z-index: 999;
            display: block;
            max-width: 250px;
        }
        }
  
    .bg{

        background:#F6F6F6;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        
        padding: 30px 0px;
        
    }
   
    .name{

        color: #212121;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 10px;
    }
    .detail{
        word-wrap: break-word;
p{font-size: 18px; color: #828282;}
    }
ul{

    padding: 0;
    margin: 0;
}

ul li{

    list-style: none;
    width: 50%;
    display:inline-block
    
}
.profile-img{
    img{

        margin: 0 auto;
        display: block;
    }
    }

.rounded-circle {
    border-radius: 50%!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;


    width: 180px;
    height: 180px;
}
h1{
    font-size: 28px;
    color: #828282;
    span{

        font-weight: 500;
    }
}

}


.videoresume{
    margin-bottom: 60px;
    h1{
        padding-top: 22px;
    font-size: 36px;
    color: #212121;
    font-weight: 500;
}

.scrollable-content{
    max-height: 328px;
    overflow-y: auto;
}
.fontendcard{
    border-radius: 30px 30px 4px 4px;
    background: linear-gradient(
0deg
, #3FC7F4 0%, #29B67F 100%);
text-align: center;
padding-top: 95px;
    padding-bottom: 30px;
margin-bottom: 20px;
}
button.fontend-button{
    background: #ffffff;
 font-size: 14px;
    color: #4F4F4F;
}

.rounded-circle {
    border-radius: 50%!important;
    border-radius: 50% !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    width: 160px;
    height: 160px;
    position: relative;
    bottom: -70px;
    text-align: center;
    margin: 0 auto;
    background: #fff;
    display: block;
}



.ecard{
    padding-top: 45px;
    padding: 15px;
    .edit-icon i{

        color: #0077B5;
        font-size: 20px ;
        padding-right: 20px;
    }
.detail{
    padding-bottom: 25px;
    padding-top: 25px;
   h2{

    color: #212121;
    font-size: 26px;
    font-weight: 500;
   }

   h6{
    font-size: 24px;
    font-weight: 400;
    
   }

   p{
     font-size: 20px;
    color: #828282;
   }
}
 h1{


    font-size: 36px;
    font-weight: 500;
 }




    background: #F6F6F6;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
 
a{

   
    color: #29B67F;
    font-size: 18px;
    font-weight: 600;
}





ul{

    margin: 0;
    padding: 0;
}
ul li{

    list-style: none;
    display:inline-block;
    width:50%;
    
}



}

}
.btn-skill{
    background: #FFFFFF;
    border: 1.78794px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8.93968px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    min-width: 180px;
    color: #828282;
    margin: 8px;
}

@media only screen and (min-width: 992px) and (max-width: 1024px)  {


    .profile .rounded-circle {
        border-radius: 50% !important;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        width: 120px;
        height: 120px;
    }
    
    .profile .detail p{
        font-size: 14px;
        color: #828282;
    }

    .profile .backend img {
        position: relative;
        top: -4px;
        left: -56px;
        margin: 0 auto;
        z-index: 999;
        display: block;
        max-width: 180px;
    }
    .profile h1 {
        font-size: 20px;
        color: #828282;
    }

    .videoresume h1 {
        padding-top: 22px;
        font-size: 30px;
        color: #212121;
        font-weight: 500;
    }
    .videoresume .rounded-circle {
        border-radius: 50% !important;
        border-radius: 50% !important;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        width: 110px;
        height: 110px;
        position: relative;
        bottom: -53px;
        text-align: center;
        margin: 0 auto;
        background: #fff;
        display: block;
    }

    .videoresume  button.fontend-button {
        background: #ffffff;
        font-size: 9px;
        color: #4F4F4F;
        width: 86%;
    }

    .videoresume .fontendcard {
        border-radius: 30px 30px 4px 4px;
        background: linear-gradient(
    93.58deg
    , #3FC7F4 0%, #29B67F 100%);
        text-align: center;
        padding-top: 70px;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

    .videoresume .ecard .edit-icon i {
        color: #0077B5;
        font-size: 14px;
        padding-right: 20px;
    }


    .videoresume .ecard .detail h2 {
        color: #212121;
        font-size: 16px;
        font-weight: 500;
    }
    .videoresume .ecard.detail p {
        font-size: 14px;
        color: #828282;
    }
    .videoresume .ecard .detail h6 {
        font-size: 14px;
        font-weight: 400;
    }
    .videoresume .ecard h1 {
        font-size: 24px;
        font-weight: 500;
    }
}
@media screen and (min-width: 700px) and (max-width: 768px) { 
.profile .bg {
    background: #F6F6F6;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    padding: 30px 11px;
}

.profile h1 {
    font-size: 19px;
    color: #828282;
}

.profile .backend img {
    position: relative;
    top: -100px;
    left: -70px;
    margin: 0 auto;
    z-index: 999;
    display: block;
    max-width: 180px;
}

.videoresume h1 {
    padding-top: 22px;
    font-size: 24px;
    color: #212121;
    font-weight: 500;
}

.videoresume .ecard  h1 {
    font-size: 24px;
    font-weight: 500;
}

.videoresume .ecard a {
    color: #29B67F;
    font-size: 16px;
    font-weight: 600;
}

.videoresume .ecard .detail h2 {
    color: #212121;
    font-size: 20px;
    font-weight: 500;
}

.videoresume .ecard .detail h6 {
    font-size: 16px;
    font-weight: 400;
}

.videoresume .ecard .edit-icon i {
    color: #0077B5;
    font-size: 14px;
    padding-right: 10px;
}

.videoresume .rounded-circle {
    border-radius: 50% !important;
    border-radius: 50% !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    width: 110px;
    height: 110px;
    position: relative;
    bottom: -53px;
    text-align: center;
    margin: 0 auto;
    background: #fff;
    display: block;
}
.videoresume button .fontend-button {
    background: #ffffff;
    font-size: 8px;
    color: #4F4F4F;
}



.videoresume button.fontend-button {
    background: #ffffff;
    font-size: 10px;
    color: #4F4F4F;
}
}

@media only screen and (max-device-width: 480px) {
   
    .btn-skill {
        background: #FFFFFF;
        border: 1.78794px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 8.93968px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 35px;
        min-width: 104px;
        color: #828282;
        margin: 8px;
    }
    .profile .bg {
        background: #F6F6F6;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        padding: 30px 11px;
    }
    
    .profile h1 {
        font-size: 19px;
        color: #828282;
    }
    
    .profile .backend img {
        position: relative;
        top: 0px;
        left: -14px;
        /* margin: 0 auto; */
        z-index: 999;
        display: block;
        /* margin: 0 auto;
        max-width: 180px; */

        margin: 15px auto !important;
        max-width: 80% !important;
    }
    .profile .backend .title {
        top: calc(45%);
    left: -28%;
    }
    
    .videoresume h1 {
        padding-top: 22px;
        font-size: 24px;
        color: #212121;
        font-weight: 500;
    }
    
    .videoresume .ecard  h1 {
        font-size: 24px;
        font-weight: 500;
    }
    
    .videoresume .ecard a {
        color: #29B67F;
        font-size: 16px;
        font-weight: 600;
    }
    
    .videoresume .ecard .detail h2 {
        color: #212121;
        font-size: 20px;
        font-weight: 500;
    }
    
    .videoresume .ecard .detail h6 {
        font-size: 16px;
        font-weight: 400;
    }
    
    .videoresume .ecard .edit-icon i {
        color: #0077B5;
        font-size: 14px;
        padding-right: 10px;
    }
    
    .videoresume .rounded-circle {
        border-radius: 50% !important;
        border-radius: 50% !important;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        width: 110px;
        height: 110px;
        position: relative;
        bottom: -53px;
        text-align: center;
        margin: 0 auto;
        background: #fff;
        display: block;
    }
    .videoresume button .fontend-button {
        background: #ffffff;
        font-size: 8px;
        color: #4F4F4F;
    }
    
    
    
    .videoresume button.fontend-button {
        background: #ffffff;
        font-size: 10px;
        color: #4F4F4F;
    }
    .videoresume  .ecard .detail p {
        font-size: 14px;
        color: #828282;
    }
    }